body {
    margin: 25px;
    border: 25px;
    padding: 25px;
    text-align: center;
}

table {
    margin: 0 auto;
    width: 300px;
    border-color: blue;
}

.button {
    border: 10px;
    padding: 20px;
}